.book-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  justify-content: center;
}
.BookImage {
  height: 160px;
  width: 103px;
}
@media screen and (min-width: 768px) {
  .BookImage {
    height: 160px;
    width: 330px;
  }
}
.titleOfBook {
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
}
.authorNameOfBook {
  font-family: 'Roboto';
  font-size: 10px;
  text-align: center;
  margin: 0px;
}
.link-style-item-home {
  list-style-type: none;
  text-decoration: none;
}
