.bookShelveListContainerItems {
  display: flex;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .bookShelveListContainerItems {
    width: 380px;
  }
}
.detailsContainer-bookshelve {
  display: flex;
  flex-direction: column;
}
.cover-pic-book {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  margin-right: 12px;
}
.bookTitle-bookshelve {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
  color: #334155;
}
.authorName-bookshelve {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
  color: #475569;
  line-height: 2;
}
.ratingOfItem {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #475569;
  margin: 0px;
  line-height: 2;
}
.starIcon {
  color: #fbbf24;
  margin-left: 4px;
  margin-right: 4px;
}
.statusOfItem {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
  text-align: left;
  color: #475569;
  margin: 0px;
  line-height: 2;
}
.statusData {
  color: #0284c7;
}
.link {
  text-decoration: none;
}
.rating-container-bookshleves {
  display: flex;
  align-items: center;
  padding: 0px;
}
