.login-form {
  display: flex;
  height: 100vh;
  background-color: #f8fafc;
}
@media screen and (max-width: 767px) {
  .login-form {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #ffffff;
    width: 100vw;
  }
}
.loginWebsiteLogo {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .loginWebsiteLogo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}
.loginDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .loginDetailsContainer {
    width: 90%;
  }
}
.login-details {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .login-details {
    width: 90%;
  }
}
.websiteLogin {
  height: 60px;
  width: 100px;
  margin-bottom: 20px;
  align-self: center;
}
.usernameLabel {
  font-family: 'Roboto';
  font-size: 16px;
  color: grey;
  font-weight: 400;
  padding-bottom: 7px;
}
.username-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.password-container {
  display: flex;
  flex-direction: column;
}
.userInput {
  font-family: 'Roboto';
  font-size: 16px;
  color: grey;
  outline: none;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
}
.login-button {
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #3392ff;
  border-width: 0px;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  margin-top: 20px;
}
.errorMsg {
  font-family: 'Roboto';
  font-size: 10px;
  color: red;
}
