.bookshelves-container {
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  width: 100vw;
  min-height: 600px;
}
.bookshelves-category-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: left;
}
@media screen and (min-width: 767px) {
  .bookshelves-category-list {
    flex-direction: row;
    padding: 40px;
  }
}
.search-button {
  border-width: 0px;
  background-color: transparent;
}
.search-icon {
  color: #475569;
  width: 13px;
  height: 13px;
  margin-left: 16px;
  margin-right: 16px;
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  border: 1px solid #edeff1;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .search-input-container {
    order: 1;
    width: 20vw;
    height: 40px;
  }
}
.search {
  background-color: #ffffff;
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
}
.tab-head {
  color: #334155;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}
@media screen and (min-width: 767px) {
  .tab-head {
    font-size: 24px;
  }
}
.un-order-tab-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 767px) {
  .un-order-tab-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) {
  .tab-items {
    order: -1;
    background-color: #ffffff;
    margin-right: 20px;
    padding: 20px;
    width: 20vw;
  }
}
.failure-container-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-head-book {
  font-family: 'Roboto';
  font-size: 14px;
}
@media screen and (min-width: 767px) {
  .failure-head-book {
    font-size: 22px;
    font-weight: 500;
  }
}
.failure-button-book {
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #3392ff;
  border-width: 0px;
  font-size: 11px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .failure-button-book {
    font-size: 17px;
  }
}
.failureView-book {
  width: 150px;
  height: 100px;
}
@media screen and (min-width: 767px) {
  .book-details-render-container {
    order: 0;
    width: 90vw;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-category {
  font-family: 'Roboto';
  font-size: 16px;
  color: #334155;
}
.un-order-book-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .un-order-book-list-item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.noBooksImage {
  height: 200px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .noBooksImage {
    height: 300px;
    width: 350px;
  }
}
.not-found-head {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .not-found-head {
    font-size: 20px;
  }
}
